.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-item-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
}

.feature-item-title,
.sr-only {
    color: #2E2F42;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}