.hero-section {
    width: 1440px;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title {
    text-align: center;
    width: 496px;
}

.button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    display: block;
    margin-top: 48px;
}

.main-title,
.button {
    margin-left: auto;
    margin-right: auto;
}

.button:focus,
.button:hover {
    background-color: #404BBF;
}
